<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>CS340 - My Project</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <nav>
        Navigation: 
        <a href="/">Home</a>
        <a href="/customers">Customers</a>
        <a href="/accounts">Accounts</a>
        <a href="/transaction_types">Transaction Types</a>
        <a href="/account_types">Account Types</a>
        <a href="/transactions">Transactions</a>
        
    </nav>

    {{{body}}}

</body>
</html>