{{!-- 
    Citation for the following file:// Date: 05/07/2025
    Adapted from: Activity 2 - Connect webapp to database
    Source URL: https://canvas.oregonstate.edu/courses/1999601/assignments/10006370
--}}
<h1>Account Types</h1>

{{! READ table }}
<table>
    <thead>
        {{! For the table header row, we print the DB attribute names }}
        <tr>
           <th>ID</th>
            <th>Account Type</th>
            
        </tr>
    </thead>

    <tbody>
        {{! For each row, print the id, fname, lname, homeworld and age }}
        {{#each types}}
        <tr>
            <td>{{this.account_type_id}}</td>
            <td>{{this.account_type}}</td>
        </tr>
        {{/each}}
    </tbody>
</table>

