{{!-- 
    Citation for the following file:// Date: 05/07/2025
    Adapted from: Activity 2 - Connect webapp to database
    Source URL: https://canvas.oregonstate.edu/courses/1999601/assignments/10006370
--}}
<h1>Bank 48</h1>
<div class="homepageDescription">
    <p>Bank of 48 is a growing institution and supports about 5 million Customers in managing their Accounts and money. They need a system that can manage 1 billion Transactions annually of 5 trillion dollars. A database driven website will seamlessly keep track of Customers, their Accounts, and their Transactions. We support families or businesses with the need for joint accounts, using the Customer_Accounts entity. We support multiple Transaction_Types and Account_Types to offer flexibility for our users. 
</p>
</div>