{{!-- 
    Citation for the following file:// Date: 05/21/2025
    Adapted from: Activity 2 - Connect webapp to database
    Source URL: https://canvas.oregonstate.edu/courses/1999601/assignments/10006370
--}}

{{! DELETE form }}
    <form action="/reset" method="POST" id='reset'>
        <button type='submit'>
            Reset
        </button>
    </form>
